In [18]:
import pandas as pd
from scipy.stats import mode

# Clean Answer

In [23]:
# Txt files
files = ['classificacoes_informadas.txt', 'classificacoes_nao_informadas.txt']


for file in files:

    # Read each line from txt and add to list
    with open('raw_answers/' + file) as f:
        content = f.readlines()
    content = [x.strip().lower() for x in content]

    cleaned = []
    for answer in content:
        # if answer has a "yes" mark as 1 else 0
        if 'yes' in answer:
            cleaned.append(1)
        else:
            cleaned.append(0)
    
    # Create a dataframe
    df = pd.DataFrame(cleaned, columns=['answer'])
    df.to_csv("clean_answers/" + file[:-4] + "_clean.csv", index=False)

# Final Answer

In [30]:
def read_csv_files(csv_files):
    dfs = [pd.read_csv('clean_answers/'+ file) for file in csv_files]
    combined_df = pd.concat(dfs, axis=1)
    return combined_df

def calculate_mode(df):
    df['final_vote'] = df.mode(axis=1)[0]
    return df

# Lista de arquivos CSV
csv_files = ['classificacoes_informadas_clean.csv', 'classificacoes_nao_informadas_clean.csv']

# Lê os arquivos CSV e combina em um DataFrame
combined_df = read_csv_files(csv_files)

# Calcula a moda das respostas
final_df = calculate_mode(combined_df)

# Salva o DataFrame final em um arquivo CSV
final_df['final_vote'].to_csv('final_classified_tweets.csv', index=False)

      answer  answer  final_vote
0          1       1         1.0
1          1       1         1.0
2          1       1         1.0
3          1       1         1.0
4          1       1         1.0
...      ...     ...         ...
4995       1       0         0.0
4996       1       1         1.0
4997       1       1         1.0
4998       1       1         1.0
4999       1       1         1.0

[5000 rows x 3 columns]

In [28]:
combined_df

      answer  answer
0          1       1
1          1       1
2          1       1
3          1       1
4          1       1
...      ...     ...
4995       1       0
4996       1       1
4997       1       1
4998       1       1
4999       1       1

[5000 rows x 2 columns]

In [29]:
combined_df.mode(axis=1)[0]

        0    1
0     1.0  NaN
1     1.0  NaN
2     1.0  NaN
3     1.0  NaN
4     1.0  NaN
...   ...  ...
4995  0.0  1.0
4996  1.0  NaN
4997  1.0  NaN
4998  1.0  NaN
4999  1.0  NaN

[5000 rows x 2 columns]